#contact_modal {
    display: none;
}

.main {
    width: 100%;
    /*margin: 0 auto;*/
}

.mediasOrderBy {
    display: flex;
}

.photograph_header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fafafa;
    width: 100%;
    height: 313px;
    border-radius: 5px;
    margin: 0 100px;
}

.photograph_header_section {
    display: flex;
    width: 100%;
}

.photograph-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
}

.photograph_media {
    width: 32%;
}

.photograph-name h1 {
    display: flex;
    color: #D3573C;
    margin: 15px 15px 15px 0;
}

.photograph-txt h2 {
    color: #901C1C;
    margin: 0;
}

.photograph-txt p {
    margin-bottom: 15px;
}

.photographer_portrait img {
    margin-right: 50px;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    object-fit: cover;
}

.photograph_column-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
}

.photograph_column-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.mediasOrderBy {
    margin: 15px 100px;
    align-self: center;
    align-items: center;
}

.photograph_medias_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 100px;
    padding-bottom: 100px;
    position: absolute;
}

.photograph_media_picture, .photograph_media_picture img, .photograph_media_movie, .photograph_media_all {
    width: 100%;
    height: 300px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.photograph_media_infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}

.photograph_media_title, .photograph_media_title h3 {
    display: flex;
    justify-content: left;
    font-size: 24px;
    color: #901C1C;
}

.photograph_media_likes, .photograph_media_likes p .photograph_media_likes i {
    display: flex;
    justify-content: right;
    font-size: 24px;
    color: #901C1C;
}

.custom-select {
    position: relative;
    font-family: inherit;
    margin-left: 15px ;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #901C1C;
}

/*style the arrow inside the select element:*/
.select-selected::after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected .select-arrow-active::after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #901C1C;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.photograph_media_price {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
